on: [push, pull_request]
name: Push
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.19.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          go get .
          go get github.com/joho/godotenv
          go get github.com/jedib0t/go-pretty/v6
          go get github.com/gookit/color

      - name: Build
        run: go build

      - name: Test with the Go CLI
        run: go test
